.widget {
  // replace this with your code
  border: black 1px solid;
  border-radius: 10px;
  background-color: white;

  padding: 5px;
}

h1 {
  color: rgb(40, 154, 120);
  margin-bottom: 0%;
  margin-left: 10%;
  font-size: 24px;
}

h2 {
  color: rgb(40, 154, 120);
  margin-top: 5%;
  margin-left: 10%;
  font-size: 18px;
  font-weight: 100;
}

li {
  padding: 5%;
}

.edit {
  padding-left: 75%;
}
